<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        .styleRed {
            width: 100px;
            height: 100px;
            background-color: red;
        }

        .styleBlue {
            width: 100px;
            height: 100px;
            background-color: blue;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="app">
        对象语法 --- 内联定义
        <div v-bind:class="{styleRed:showRed, styleBlue:!showRed}"></div>
        Red:<input type="radio" name="style" id="red" v-model="currentChoose" value="red"> Blue:
        <input type="radio" name="style" id="blue" v-model="currentChoose" value="blue">
        <br>对象语法 --- 非内联定义
        <div v-bind:class="classObj"></div>
    </div>
    <script src="../plugin/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                currentChoose: "red"
            },
            computed: {
                showRed: function () {
                    return this.currentChoose === "red" ? true : false;
                },
                classObj: function () {
                    return {
                        styleRed: this.showRed,
                        styleBlue: !this.showRed
                    }
                }
            }
        })
    </script>
</body>

</html>